#reveal {
  display: none;
}

#name {
  width: 200px;
}

#design {
  width: 200px;
}
/*body {
  background-color: #8A9197;
}*/
#start {
  width: 200px;
}
.btn {
  background-color: #9959f9;
  color: white;
}
.jumbotron {
  background-color: #00B3B4;
  color: white;
}

.container {
  padding: 2%;
  margin: auto;
  border: dotted;
  border-color: gray;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  padding-left: 5%;
  padding-right: 5%;
}
h4 {
  font-family: Lucida;
  /*font-style: italic;*/
  font-size: 35px;
  color: #37383a;
}
